body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #f2f2f2;
    padding: 25px 50px;
}

    header img {
        width: 20%;
        height: 20%;
        margin-top: 10px;
        float: left;
    }

    header h1 {
        vertical-align: middle;
    }
